
.layout {
    height: 100vh;
    min-width: 16rem;
    overflow: auto; 
    .layout-header {
        background: white;
        color: black;
        padding: 0;
    }
    .content {
        flex: 1;
        overflow: auto;
    }
    .welcome {
        float: right;
        margin-right: 1rem;
    }
}