.find-people {
    padding: 1rem;
    .find-search {
        display: flex;
        margin-bottom: 1rem;
    }
    .order-job{
        display: flex;
        margin-bottom: 1rem;
        Button {
            margin: .2rem;
        }
    }
}